{{- range $secretName, $secretConfig := .Values.vault.secrets }}
{{- if and $secretConfig.staticSecretRef $secretConfig.mount $secretConfig.path }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $secretConfig.staticSecretRef }}
  labels:
    {{- include "watchdog.labels" $ | nindent 4 }}
spec:
  type: kv-v2
  mount: {{ $secretConfig.mount }}
  path: {{ $secretConfig.path }}
  destination:
    name: {{ $secretConfig.destinationSecretName }}
    create: true
  refreshAfter: {{ $secretConfig.refreshAfter }}
  vaultAuthRef: {{ $.Values.vault.authRef }}
{{- end }}
{{- end }}
