apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: k8s-observer-data
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
